@media only screen and (max-width:470px){
    .text-part h5{
       font-size: 1rem;
       color:rgb(104, 75, 75);

    }
    .contact h2{
        font-size: 1rem;
    }
    .contact h4{
        font-size: 1rem;
    }
    .contact h5{
        font-size: 0.75rem;
    }
    .contact h6{
        font-size: 0.75rem;
    }
    .footer-social{
        display:flex;
        flex-direction: row;
    }
   
}